<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="Server.Service.MyServer" behaviorConfiguration="ExposeMetadata">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:3000"/>
          </baseAddresses>
        </host>
        
        <endpoint address="" binding="wsHttpBinding" contract="Server.Service.IMyServer"/>
        <endpoint address="mex" binding="wsHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="ExposeMetadata">
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>